:root {
  --header-size: 170px;
  --header-small-size: 130px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;

  padding: var(--padding-xl) var(--padding-l);

  text-align: center;

  height: var(--header-size);

  background: white;
}

.navigation {
  display: flex;
  justify-content: center;

  list-style: none;

  margin-top: var(--padding-xl);
}

.navigation > li:not(:last-child) {
  margin-right: var(--padding-l);
}

.navigation li a {
  position: relative;
  opacity: 0.5;
}

.navigation li a:hover,
.navigation li a.active {
  opacity: 1;
}

.navigation li a::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: var(--business-color);
  top: -12px;
  left: 0;
  width: 24px;
  height: 4px;
  transition: all 0.2s ease-in-out;
}

.navigation li a:hover::after,
.navigation li a.active::after {
  width: 100%;
}

.header-item {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

.site-logo {
  width: 150px;
}

.welcome > p {
  margin-bottom: var(--padding-m);
}

.ctas-wrapper {
  margin-top: var(--padding-xl);
}

.ctas-wrapper > :not(:last-child) {
  margin-right: var(--padding-m);
}

@media screen and (min-width: 992px) {
  .site-logo {
    width: 200px;
  }
}

.guess-word {
  display: grid;
  grid-template-columns: repeat(5, var(--cell-size));
  grid-auto-rows: var(--cell-size);
  grid-gap: 8px;
  margin-bottom: 8px;
}

.rankingWrapper {
  padding-top: var(--header-size);
}

.ranking {
  max-width: 850px;
  margin: auto;
  margin-top: var(--padding-s);
}

@media screen and (max-height: 800px) {
  .header {
    padding: var(--padding-m);
    height: var(--header-small-size);
  }

  .site-logo {
    width: 120px;
  }

  .navigation {
    margin-top: var(--padding-l);
  }

  .word-grid {
    transform: translateY(-20px);
  }

  .guess-word {
    grid-template-columns: repeat(5, var(--cell-mobile-size));
    grid-auto-rows: var(--cell-mobile-size);
  }

  .rankingWrapper {
    padding-top: var(--header-small-size);
  }
}
