.word-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--cell-border-color);
  border-radius: 10px;
  background: var(--light-base-color);

  font-weight: bold;
  font-size: 24px;
}

.absent {
  background: var(--absent-color);
  border-color: var(--absent-border-color);
}

.present {
  background: var(--present-color);
  border-color: var(--present-border-color);
}

.correct {
  background: var(--correct-color);
  border-color: var(--correct-border-color);
}

.absent,
.present,
.correct {
  color: var(--light-base-color);
}
