.Key {
  padding: 4px;

  color: rgb(90, 90, 90);
  background: rgb(231, 231, 231);

  font-weight: bold;
  font-size: 14px;

  border-radius: 6px;
  cursor: pointer;
  user-select: none;

  transition: background ease 0.15s;
}

.Key:active {
  background: rgb(221, 221, 221);
}

@media (max-width: 1181px) {
  .Key {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
