.Key {
  padding: var(--padding-xs);

  background: rgb(231, 231, 231);

  border: none;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;

  transition: background ease 0.15s;
}

.Key p {
  font-family: "Courier Prime";
  font-weight: 700;
  color: var(--base-color-2);
}

.Key:active {
  background: rgb(221, 221, 221);
  padding-bottom: 20px;
  transform: scaleY(1.2);
  transform-origin: bottom;
}

.Key.absent {
  background: var(--absent-color);
}
.Key.correct {
  background: var(--correct-color);
}
.Key.present {
  background: var(--present-color);
}

.Key.absent p,
.Key.present p,
.Key.correct p {
  color: white;
}

.Key:active p {
  transform: scaleX(1.2);
}

@media (max-width: 1181px) {
  .Key {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
