.Keyboard {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(3, 44px);
  grid-column-gap: var(--padding-xs);
  grid-row-gap: var(--padding-xs);
  width: 100%;

  margin: var(--padding-s) auto;
  max-width: 500px;
}

.Keyboard > * {
  grid-column: auto / span 4;
}

/* 'Enter' and 'Del' key sizing: */
.Keyboard > :nth-child(21),
.Keyboard > :last-child {
  grid-column: auto / span 6;
}

@media (min-width: 768px) {
  .Keyboard {
    margin: var(--padding-l) auto;
  }
}
